.font{
    font-family: "Lavishly Yours", cursive;
    font-weight: 400 !important;
    font-size: 50px !important;
    line-height: 1 !important;
    letter-spacing: 0 !important;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon{
    filter: invert(100%);
}

.bg-custom{
    background: linear-gradient(171.87deg, #365B7C 62.82%, #63A6E2 106.81%);
}

.nav-link:hover{
    color: black !important;
    transition: color .5s ease-in-out !important;
}

.font-lavishly{
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-size: 50px;
}

.font-desc{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.general-font{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}