.quote{
    font-family: "Laila", serif;
    font-weight: 700;
    font-size: 30px;
}

.names{
    font-family: "Laila", serif;
    font-weight: 700;
    font-size: 25px;
}

.testimonials{
    font-family: "Karma", serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(79, 79, 79);
}

.paragraph{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}